In [1]:
import os
import pandas as pd

In [2]:
import os
import pandas as pd

# Get the current working directory
current_dir = os.getcwd()

# Construct the path to the CSV file
csv_path = os.path.join(current_dir, "dummy_sample.csv")

# Read the CSV file
df = pd.read_csv(csv_path)

# Print the DataFrame
print(df)

                              Company ID     Company Name  \
0   123aa323-877c-42f9-b3ea-93c817abea2b   CleanPower Ltd
1   e55bcae9-9f51-456b-9ea6-93b89bb3ab10   EarthRenew Ltd
2   0891e350-f82d-4268-a57d-9421ed8e0b96    HydroFlow Ltd
3   bafa4edb-b738-47be-9d58-b53e84838376    HydroFlow Ltd
4   d49c40ff-fad1-488d-bd14-f0ebff2ebaab  GreenFuture Ltd
5   b6d17866-7043-48e8-8bcb-3fb741acb70d  GreenFuture Ltd
6   9d1943ac-10b6-4456-a686-7f6c997456dc  GreenFuture Ltd
7   49cbbdc9-ebf8-4d45-8cdc-baea488f8b06   EarthRenew Ltd
8   510d3de9-2fd0-4a52-9e6e-41c7c6d555c8   EarthRenew Ltd
9   f79635ee-bac5-4c3d-9e95-384780b8864e   CleanPower Ltd
10  966dbadf-012d-4672-845f-49bd226f2f17    WindWorks Ltd
11  404fc0e6-db08-4468-8c51-318081174721    WindWorks Ltd
12  f7497e8f-af5e-40fe-8416-5ae22d025d17    SolarWind Ltd
13  3108c988-bf0c-4ae2-b8a9-19cc9640195c   CarbonZero Ltd
14  e4859c6e-59dd-4b9c-a25c-bf8c23a3be81   CarbonZero Ltd
15  3725e6ab-14a4-4a1a-a6d7-2fa485e10d95    SolarWind Ltd
16  8c35b373-2894-4008-8765-a09e09d3626d    SolarWind Ltd
17  eae2eba5-9872-4548-b2b3-dfba5f913381     GeoTherm Ltd
18  e8c4a25b-cffe-4307-8fe9-255a49307bb8    HydroFlow Ltd
19  a88ee9c3-44fb-4986-8499-53e66f46ff9d   EarthRenew Ltd
20  00def932-85d2-4112-a452-db4208514c09   CleanPower Ltd
21  adf54208-1554-4aba-bfa7-f30cc2dd60df   CleanPower Ltd
22  eebb872a-a6b1-4703-8463-2e260919d723      EcoTech Ltd
23  348c294c-a427-4831-8710-5df7f870e601    BioEnergy Ltd
24  7b9a851e-39fe-470c-8237-e96086a49fd9   CarbonZero Ltd
25  70eecadb-818f-451d-8d18-f44e1e5146d9    SolarWind Ltd
26  ea34bd4a-c323-4c02-872e-96fe55735ced   CleanPower Ltd
27  fa58a16e-4e4b-4261-ad8a-e2340eec3648   CarbonZero Ltd
28  49390001-08b1-4e9d-9605-8b2f3a0ee0d3    BioEnergy Ltd
29  39a8fdcf-9eea-4f2c-9e78-5fcd936255c7    WindWorks Ltd
30  a485d4a9-4a7c-4828-9b76-67f0226b4e6d    HydroFlow Ltd
31  70acb93b-da75-4af0-adc4-aa0c481439fe      EcoTech Ltd
32  e9fa9f4b-7bed-4abe-80ee-7bc2902df735   EarthRenew Ltd
33  5694220c-1237-4e74-9183-c0eac58b4a12    HydroFlow Ltd
34  3a8ea564-24b3-430d-b30d-ef26706d1320    BioEnergy Ltd
35  ea566883-4c74-417b-8cf7-94097454f8d2    SolarWind Ltd
36  31b91887-5e72-4cca-bc12-44ef127f3ad5   EarthRenew Ltd
37  802867e0-2253-4906-8d3a-82ce21c5d40a    SolarWind Ltd
38  53064bb5-c2e9-43a1-926a-8ccbe93d89ba   CarbonZero Ltd
39  805aa31b-7967-4323-a8e7-c4738ef7cfaf    HydroFlow Ltd
40  54788adb-a3c6-4a4c-adf6-eb6d646d7207     GeoTherm Ltd

                   Fund  Investment ($M)  Fund Size ($M)  \
0   Transformation Fund             7360             926
1             Rise Fund             6110            3100
2      Orientation Fund             9380             636
3   Infrastructure Fund             4470            4297
4      Partnership Fund             1050            2583
5   Transformation Fund             6630            1268
6             Rise Fund             1200            3307
7      Orientation Fund             3210            3827
8   Infrastructure Fund             5860            2050
9      Partnership Fund             2960            1405
10  Transformation Fund             7050            3475
11            Rise Fund             8710            1004
12     Orientation Fund             6090            1583
13  Infrastructure Fund             2060            3147
14     Partnership Fund             5100            1909
15  Transformation Fund             3490            4656
16            Rise Fund             1090            3720
17     Orientation Fund             7150            1519
18  Infrastructure Fund             6890             785
19     Partnership Fund             2600            4075
20  Transformation Fund             5970            2215
21            Rise Fund             3990            4540
22     Orientation Fund             8670            4007
23  Infrastructure Fund             3250            2322
24     Partnership Fund             4910            2050
25  Transformation Fund             6140            4083
26            Rise Fund             9700            4218
27     Orientation Fund             3040            4452
28  Infrastructure Fund             7360            1932
29     Partnership Fund             6110            4516
30  Transformation Fund             9380            4164
31            Rise Fund             4470            2271
32     Orientation Fund             1050            2122
33  Infrastructure Fund             7010            1671
34     Partnership Fund             2840            4743
35  Transformation Fund             7080             628
36            Rise Fund             1060            4969
37     Orientation Fund             6970            2787
38  Infrastructure Fund             2520             772
39     Partnership Fund             6560            3342
40  Transformation Fund             8530            1339

    Total Capital Committed ($B)  Fund Investments  Global South Deals Funded  \
0                           1.56                 4                          9
1                           1.79                10                          7
2                           1.80                 9                          7
3                           2.13                 3                          9
4                           1.81                 5                         10
5                           1.75                 7                         12
6                           2.32                 5                         14
7                           2.44                10                         10
8                           1.78                 9                         13
9                           1.93                 3                         12
10                          2.26                 3                         10
11                          2.15                 8                          5
12                          1.55                 7                         11
13                          2.48                10                          9
14                          2.08                 6                         11
15                          2.08                 7                          6
16                          1.53                 8                         11
17                          2.43                 8                          8
18                          1.87                10                         13
19                          1.84                 8                          6
20                          1.53                 3                         12
21                          2.13                 7                          9
22                          2.18                10                         12
23                          2.42                 4                         13
24                          2.38                 4                         11
25                          2.02                 8                          7
26                          2.32                 7                          9
27                          1.71                 4                          8
28                          1.57                10                         12
29                          1.63                10                          5
30                          1.81                 8                          7
31                          1.86                 3                          7
32                          2.00                10                         12
33                          2.27                10                          9
34                          2.22                 3                         12
35                          1.80                 5                         14
36                          2.20                 9                          9
37                          1.94                 7                         10
38                          1.89                 3                         15
39                          2.36                 6                          8
40                          1.80                 6                          7

    Global South Countries Supported       Country  \
0                                 17     Indonesia
1                                 18  South Africa
2                                 11      Tanzania
3                                 18        Brazil
4                                 20      Tanzania
5                                  5       Nigeria
6                                  8         Kenya
7                                 19      Tanzania
8                                 16        Mexico
9                                 18      Tanzania
10                                13       Nigeria
11                                20         India
12                                19      Tanzania
13                                 9        Brazil
14                                14      Tanzania
15                                14       Nigeria
16                                 8         India
17                                18         Kenya
18                                16        Brazil
19                                14         Kenya
20                                 8    Bangladesh
21                                12       Nigeria
22                                 6     Indonesia
23                                13     Indonesia
24                                 9         Kenya
25                                20       Nigeria
26                                10  South Africa
27                                14         Kenya
28                                16         Kenya
29                                17         Kenya
30                                11    Bangladesh
31                                16         India
32                                10    Bangladesh
33                                17      Thailand
34                                15      Thailand
35                                13  South Africa
36                                14      Tanzania
37                                17      Thailand
38                                10         Kenya
39                                 7      Tanzania
40                                11       Nigeria

    Country Capital Catalyzed ($M)                    Theme  \
0                              101       Ocean Conservation
1                              260           Carbon Capture
2                               63               Smart Grid
3                              244        Energy Efficiency
4                              163         Renewable Energy
5                              289         Water Management
6                              241       Ocean Conservation
7                               88        Energy Efficiency
8                               52  Sustainable Agriculture
9                              123         Water Management
10                             278        Electric Mobility
11                             296         Renewable Energy
12                             259         Water Management
13                             188         Renewable Energy
14                             293       Ocean Conservation
15                              68           Carbon Capture
16                             263           Carbon Capture
17                             234         Water Management
18                             219         Renewable Energy
19                             224         Renewable Energy
20                             114        Electric Mobility
21                             225        Energy Efficiency
22                             200  Sustainable Agriculture
23                             282        Energy Efficiency
24                             236               Smart Grid
25                             153           Carbon Capture
26                              74  Sustainable Agriculture
27                             230  Sustainable Agriculture
28                             294        Electric Mobility
29                             217        Electric Mobility
30                             190  Sustainable Agriculture
31                              91         Renewable Energy
32                             280         Water Management
33                             179           Carbon Capture
34                             195  Sustainable Agriculture
35                             126  Sustainable Agriculture
36                             241         Water Management
37                              82         Renewable Energy
38                             160           Carbon Capture
39                             212        Electric Mobility
40                             239               Smart Grid

    Theme Capital Catalyzed ($M)  Total Emissions by Fund (tons of CO2e)  \
0                            469                                    8148
1                            251                                    7373
2                            315                                   27919
3                            265                                   28349
4                            163                                    6633
5                            486                                   25283
6                            450                                   25270
7                            381                                   16210
8                            400                                   17618
9                            469                                   20605
10                           428                                   15044
11                           318                                   17451
12                           119                                   19016
13                           139                                    8037
14                           453                                   21564
15                           298                                   20467
16                           110                                    7616
17                           445                                   22090
18                           165                                   12110
19                           224                                   23385
20                           398                                    5260
21                           396                                   28534
22                           363                                    9625
23                            78                                   21812
24                           497                                    6226
25                           323                                   24796
26                           132                                   25043
27                           147                                    5596
28                           258                                    9116
29                           430                                   28025
30                           332                                   22608
31                           242                                   19275
32                           302                                   26802
33                           353                                   15215
34                           446                                    5846
35                           220                                   12524
36                           187                                   22300
37                           156                                    5556
38                           302                                   21988
39                            92                                   21602
40                           342                                   10056

    Scope 1 Emissions (tons of CO2e)  Scope 2 Emissions (tons of CO2e)  \
0                               1358                              2037
1                               1228                              1843
2                               4653                              6979
3                               4724                              7087
4                               1105                              1658
5                               4213                              6320
6                               4211                              6317
7                               2701                              4052
8                               2936                              4404
9                               3434                              5151
10                              2507                              3761
11                              2908                              4362
12                              3169                              4754
13                              1339                              2009
14                              3594                              5391
15                              3411                              5116
16                              1269                              1904
17                              3681                              5522
18                              2018                              3027
19                              3897                              5846
20                               876                              1315
21                              4755                              7133
22                              1604                              2406
23                              3635                              5453
24                              1037                              1556
25                              4132                              6199
26                              4173                              6260
27                               932                              1399
28                              1519                              2279
29                              4670                              7006
30                              3768                              5652
31                              3212                              4818
32                              4467                              6700
33                              2535                              3803
34                               974                              1461
35                              2087                              3131
36                              3716                              5575
37                               926                              1389
38                              3664                              5497
39                              3600                              5400
40                              1676                              2514

    Scope 3 Emissions (tons of CO2e)
0                               4074
1                               3686
2                              13959
3                              14174
4                               3316
5                              12641
6                              12635
7                               8105
8                               8809
9                              10302
10                              7522
11                              8725
12                              9508
13                              4018
14                             10782
15                             10233
16                              3808
17                             11045
18                              6055
19                             11692
20                              2630
21                             14267
22                              4812
23                             10906
24                              3113
25                             12398
26                             12521
27                              2798
28                              4558
29                             14012

In [3]:
total_capital_committed = df["Total Capital Committed ($B)"].sum()
total_funds = df["Fund"].nunique()
total_companies = df["Company Name"].nunique()
total_global_south_deals = df["Global South Deals Funded"].sum()

fund_distribution = df.groupby("Fund")["Investment ($M)"].sum().to_dict()
recent_funds = df.sort_values("Investment ($M)", ascending=False).head(5)[
        ["Fund", "Company Name", "Investment ($M)"]
    ].to_dict(orient="records")

emissions_by_fund = df.groupby("Fund")["Total Emissions by Fund (tons of CO2e)"].sum().to_dict()

In [8]:
df["Company Name"].unique()

array(['CleanPower Ltd', 'EarthRenew Ltd', 'HydroFlow Ltd',
       'GreenFuture Ltd', 'WindWorks Ltd', 'SolarWind Ltd',
       'CarbonZero Ltd', 'GeoTherm Ltd', 'EcoTech Ltd', 'BioEnergy Ltd'],
      dtype=object)

In [9]:
# Convert NumPy types to Python native types
def convert_numpy(obj):
    if isinstance(obj, np.integer):
        return int(obj)
    elif isinstance(obj, np.floating):
        return float(obj)
    elif isinstance(obj, np.ndarray):
        return obj.tolist()
    return obj

NameError: name 'obj' is not defined

In [11]:
# Apply the conversion to your data
dashboard_data = {
        "total_capital_committed": int(total_capital_committed),
        "total_funds": total_funds,
        "total_companies": total_companies,
        "total_global_south_deals": total_global_south_deals,
        "fund_distribution": fund_distribution,
        "recent_funds": recent_funds,
        "emissions_by_fund": emissions_by_fund,
}

In [ ]:
total_companies = int(df["Company Name"].nunique())